





body{
    width: 1280px;
    height: 1080px;       
    background-image:url("caldera_img/carbon.jpg");
    color: antiquewhite;
    font-family: lato;
    
}

.encabezado{
    height: 68px;
}

.title{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}





table {
   
    border-collapse: collapse;
    width: 100%;  
    font-weight: 700;

}

th{
    text-align: center;
    padding: 8px;
}

td {
    /*  border: 1px solid #dddddd; */
    text-align: justify;
    padding: 8px;
}




.left{
    width: 475px;
    position: relative;
    left: 130px;
    top: 100px;
}




.right{
    width: 475px;
    position: relative;
    top: -254px;
    left: 720px;
}

.horizontal{
    width: 602px;
    position: relative;
    top: -188px;
    left: 392px;

}
    
